.Activities {
  height: fit-content;
  transform: translateY(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
}
